@import url('https://fonts.googleapis.com/css?family=New+Rocker|Roboto');

body {
  background:peachpuff;
  font-family: Roboto;
}
/*****************************************
  
  Nav Bar Styles

******************************************/
.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid red;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-logo {
  max-width: 30px;
  margin-right: 15px;
}
.navbar-heading {
  display: inline;
  font-family: "New Rocker";
  margin: 0;
  text-decoration: none;
  color: #000;
}
.navbar-links {
  display: inline;
}
.navbar-links a {
  color: #ff5656;
  font-weight: bold;
  text-decoration: none;
  margin: 0 5px;
  padding: 5px;
}
.navbar-links a:hover {
  background-color: #ff5656;
  color: peachpuff;
}
/***********************************

  Footer Styles

************************************/
.footer {
  text-align: center;
  border-top: 2px solid red;
}
.footer-icons {
  margin: 10px 0;
}
.footer-icons img {
  margin: 10px;
  max-width: 30px;
}


/***********************************

  Discog Page Styles

************************************/

#discography {
  width: 95%;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.album {
  margin: 20px;
  display: inline-flex;
  width: 400px;
  padding: 10px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.albumtitle {
  width: 100%;
}

.albumcover {
  width: 100%;
}

.songlist {
  text-align: left;
  width: 100%;
}

.album h2 {
  text-align: center;
}